In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('ggplot')

In [2]:
df = pd.read_csv("/content/train.csv")

In [4]:
df.shape

(891, 12)

In [6]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [9]:
df.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [11]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [17]:
df = df[['PassengerId',
            'Survived',
            'Pclass',
            #'Name',
            'Sex',
            'Age',
            #'SibSp',
            #'Parch',
            #'Ticket',
           # 'Fare',
            'Cabin',
            #'Embarked'
            ]].copy()

In [18]:
df.shape

(891, 6)

In [19]:
df.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Sex             object
Age            float64
Cabin           object
dtype: object

In [22]:
df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Sex              0
Age            177
Cabin          687
dtype: int64

In [24]:
df.loc[df.duplicated()]

Empty DataFrame
Columns: [PassengerId, Survived, Pclass, Sex, Age, Cabin]
Index: []

In [27]:
df.loc[df.duplicated(subset = 'PassengerId')]

Empty DataFrame
Columns: [PassengerId, Survived, Pclass, Sex, Age, Cabin]
Index: []